.app {
  position: fixed;
  background-image: url("./assets/images/backgrounds/Brave.jpeg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) to control darkness */
    z-index: -1;
  }
}


/* Adjust the alpha value to control the darkness level */
