@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  @include flexbox;
  justify-content: space-between; // Start of Responsiveness
  margin: 0 auto;
  height: 6rem;
  width: 100%;
  max-width: 80rem;
  padding: 0 3rem;

  &__container {
    @include flexbox;
    align-items: center;
    height: 6rem;
    border-top: 2px solid white;
  }

  &__title {
    @include p;
    margin: 0;
  }

  &__profile {
    @include profile;
    align-self: center;
  }
}
